@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   @*// <img src="~/images/image 1.jpg" alt="Image" />
   // <p>some random text <a href="/"></a></p>*@
 @*  <img src="~/MyStaticFiles/Images/image 2.jpg" alt="Image">*@
 <img src="~/StaticFiles/Images/image 2.jpg" class="img" alt="A picture" />
</div>
